/*----------------------------- Graphics styles -----------------------*/
#graphics {
  text-align: center;
  background-color: white;
  font-family: 'Lato', sans-serif;
  color: #8a8a8a;

  > .img-container {
    position: absolute;
    bottom: 0;
    height: 33.33vw;
    width: 100%;
    overflow-y: hidden;
    
    > .image {
      position: relative;
      display: inline-block;
      width: 16.66%;
      height: 16.66vw;
      background-color: #ffeb3b;
      float: left;
      overflow: hidden;

      > div {
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
      }

      // Livetile styles
      .live-tile {
        transition: transform 0.2s ease-in-out;
        &.start {
          animation: tile 0.5s linear;
        }
      }
    }
  }

  > p {
    margin-bottom: 40vw;
  }

  // Image Viewer
  #imageViewer {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.66);

    #image-close {
      position: fixed;
      bottom: 0px;
      padding: 20px 80px;
      width: 100%;
      text-transform: uppercase;
      font-weight: 900;
      background-color: #222;
      color: white;
      transform: translateY(100%);

    }

    #image {  
      position: relative;
      top: 50%;
      left: 50%;
      transform: scale(0) translate(-50%, -50%);
      border: 2px solid #222;
      background-color: #222;

      img {
        width:100%;
        height: 100%;
        opacity: 0;
      }

      &.animate {
        animation: reveal 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;

        img {
          opacity: 1;
          transition: opacity 0.2s ease-in 2s;
        }
        
        & + #image-close {
          cursor: pointer;
          transform: translateY(0);
          transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 2.5s;
        }
      }
    }
  }
}

@media only screen and (max-width: 1370px) {
  #graphics > p { margin-bottom: 45vw; }
  #graphics > .img-container { height: 40vw; }
  #graphics > .img-container > .image {
    width: 20%;
    height: 20vw;
  }
}
@media only screen and (max-width: 969px) {
  #graphics > p { margin-bottom: 55vw; }
  #graphics > .img-container { height: 50vw; }
  #graphics > .img-container > .image {
    width: 25%;
    height: 25vw;
  }
}
@media only screen and (max-width: 770px) {
  #graphics > p { margin-bottom: 70vw; }
  #graphics > .img-container { height: 66.66vw; }
  #graphics > .img-container > .image {
    width: 33.33%;
    height: 33.33vw;
  }
}
@media only screen and (max-width: 480px) {
  #graphics > .img-container { height: 100vw; }
}

@keyframes tile {
  0% {
    transform: rotateY(0deg);
  }

  49% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes reveal {
  0% { transform: scaleX(0) scaleY(0.01) translate(-50%, -50%); transform-origin: top; background-color: #222}
  40% { transform: scaleX(1) scaleY(0.01) translate(-50%, -50%); transform-origin: top; background-color: #222}
  50% { transform: scaleX(1) scaleY(0.01) translate(-50%, -50%); transform-origin: top; background-color: #222}
  100% { transform: scaleX(1) scaleY(1) translate(-50%, -50%); transform-origin: top; background-color: #222}
}