/*----------------------------- My Section -----------------------------*/
#my-section {
  background-color: #141415;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;

  > #my-dp {
    margin-left: auto;
    margin-right: auto;
    background: url(../assets/mydp.jpg) center center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 7px solid white;
    box-shadow: 1px 1px 20px 4px #000000;
  }

  > #my-title, > #my-text {
    opacity: 0;
    transform: translateY(30px);
    text-align: center;
    color: white;

    &.animate {
      opacity: 1;
      transform: translateY(0px);
      transition: all 0.5s cubic-bezier(0.08, 0.82, 0.38, 1.53) 0.5s;
    }
  }

  > #my-title {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  > #my-text.animate {
    transition-delay: 0.9s;
  }
}
