/*----------------------------- My Section -----------------------------*/
#my-section {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;
  background-color: #141415;
  background: -moz-radial-gradient(center, ellipse cover, rgba(82,82,82,1) 0%, rgba(19,19,19,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(82,82,82,1)), color-stop(100%, rgba(19,19,19,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(82,82,82,1) 0%, rgba(19,19,19,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(82,82,82,1) 0%, rgba(19,19,19,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(82,82,82,1) 0%, rgba(19,19,19,1) 100%);
  background: radial-gradient(ellipse at center, rgba(82,82,82,1) 0%, rgba(19,19,19,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525252', endColorstr='#131313', GradientType=1 );

  > #my-dp {
    margin-left: auto;
    margin-right: auto;
    background: url(../assets/mydp.jpg) center center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 7px solid white;
    box-shadow: 2px 2px 7px 1px #000000;
  }

  > #my-title, > #my-text {
    opacity: 0;
    transform: translateY(30px);
    text-align: center;
    color: white;

    &.animate {
      opacity: 1;
      transform: translateY(0px);
      transition: all 0.5s cubic-bezier(0.08, 0.82, 0.38, 1.53) 0.5s;
    }
  }

  > #my-title {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  > #my-text.animate {
    transition-delay: 0.9s;
  }
}
