/*----------------------------- UI styles -----------------------------*/
/* Arrow Styles */
#arrow::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-right: 0.2em solid black;
  border-bottom: 0.2em solid black;
  transform: translate(17px,14px) rotate(45deg);
}

#arrowDown {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 10;
  bottom: 20px;
  left: 50%;
  margin-left: -25px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: -1px 3px 11px -3px;
  opacity: 0.8;

  &.animate {
    -webkit-animation: bounce 2s ease-in-out infinite;
    -moz-animation: bounce 2s ease-in-out infinite;
    -ms-animation: bounce 2s ease-in-out infinite;
    animation: bounce 2s ease-in-out infinite;
  }
}

#mailMe {
  transform: scale(0);
  position: fixed;
  z-index: 10;
  bottom: 20px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
}
@-moz-keyframes bounce {
  0%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

