body {
  margin: 0px;
  font-family: 'Cabin Condensed', sans-serif;
}

.page-section {
  padding: 1px;
  width: 100vw;
  height: 100vh;
  min-height: 50vw;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.page-section > h1 {
  margin-top: 100px;
  margin-bottom: 60px;
  font-size: 43pt;
}

.page-section > p {
  font-size: 20pt;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .page-section > h1 {
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 32pt;
  }
  .page-section > p {
    font-size: 13pt;
  }
}

.nav {
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
}

/* Common styles */
.red {
  color: #C51838 !important;
}
.black {
  color: black !important;
}
.invisible {
  visibility: hidden;
}
.ellipsis {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}


/*----------------------------- Homepage Styles -----------------------*/

#homePage::before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-image: url('../assets/homepageRaw2.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-attachment: fixed;*/
}

#homePage > .title {
  text-align: center;
  margin-top: 50vh;
  font-size: 2em;
  font-weight: bold;
}

/*----------------------------- WebDesign -----------------------------*/
#webDesign {
  position: relative;
  z-index: 2;
  font-family: 'Lato', sans-serif;
  color: white;
  text-align: center;
  background-size: auto;
  background-image: url('../assets/dark_exa.png');
}

#webDesign > h1 {
  font-weight: 100;
}
/* carousel */
.carousel {
  margin-top: 100px;
}
.carousel-cell {
  width: 200px;
  height: 200px;
  margin-right: 100px;
  border: 5px solid white;
  background: #000;
  border-radius: 1px;
  counter-increment: carousel-cell;
  transition: width 0.5s ease-in;
}

.carousel-cell.is-selected {
  /*border-color: transparent;*/
}

@media only screen and (max-width: 600px)  {
  .carousel {
    margin-top: 50px;
  }
  .carousel-cell {
    margin-right: 50px;
  }
}

/*----------------------------- Blog Styles -----------------------------*/
#blog {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  background-image: url('../assets/blog1.jpg');
  background-position: center;
}

#blog > h1 {
  font-family:"Libre Baskerville",Georgia,serif;
  background-color: rgba(0, 0, 0, 0.67);
  padding: 8px;
}

#blog > p > span {
  background-color: rgba(169, 103, 5, 0.84);
  padding: 5px 45px;
  font-family: 'Lato', sans-serif;
}

.article-container > .article-group {
  display: inline-block;
}
.article {
  display: inline-block;
  width: 300px;
  height: 270px;
  background: rgba(255, 255, 255, 0.83);
  margin: 20px;
  color: black;
  text-align: left;
  box-shadow: 0px 1px 28px -5px black;
}
.article > .article-image {
  height: 200px;
  /*background-color: #282f35;*/
  background-image: url('../assets/dark_fish_skin.png');
}
.article > .article-text {
  padding: 12px;
}
.article > .article-text  .article-title {
  display: inline-block;
  width: 58%;
}
.article > .article-text  .article-date {
  top: -3px;
  text-align: right;
  color: #a96705;
  display: inline-block;
  width: 40%;
  position: relative;
}
.article > .article-text > .article-summary {
  /*padding-top: 10px;*/
  color: #797777;
}
.article:last-child {
  background-color: rgba(255, 255, 255, 0.9);
}
.article:last-child > .article-image {
  visibility:hidden;
}

/* media rules */
@media only screen and (max-width: 1370px) {
  .article-container{
    padding-top: 70px;
  }
  .article {
    width: 200px;
    height: 185px;
    font-size: 11px;
  }
  .article > .article-image {
    height: 130px;
  }
}
@media only screen and (max-width: 969px) {
  .article-container{
    padding-top: 0px;
  }
}

@media only screen and (max-width: 770px) {
  .article-container > .article-group {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .article-container > .article:first-child {
    margin-top: 20px;
  }
  .article {
    height: auto;
    width: 100%;
    font-size:20px;
    margin: 0px;
    box-shadow: none;
    border-bottom: 1px solid #cecece;
  }
  .article > .article-image {
    display: none;
  }
}

/*----------------------------- UI styles -----------------------------*/
/* Arrow Styles */
#arrow::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-right: 0.2em solid black;
  border-bottom: 0.2em solid black;
  transform: translate(17px,14px) rotate(45deg);
}

#arrowDown {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 10;
  bottom: 20px;
  left: 50%;
  margin-left: -25px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: -1px 3px 11px -3px;
  -webkit-animation: bounce 2s ease-in-out infinite;
	-moz-animation: bounce 2s ease-in-out infinite;
	-ms-animation: bounce 2s ease-in-out infinite;
	animation: bounce 2s ease-in-out infinite;
  opacity: 0.8;
}

@-moz-keyframes bounce {
  0%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

/* Hamburger */
.hamburger {
    width: 20px;
    /* height: 30px; */
    float: right;
    margin-right: 20px;
    margin-top: 14px;
}

.hamburger > .bar {
    background-color: #000;
    margin: 2px 0 0 0;
    height: 4px;
    width: 100%;
    display: block;
    mix-blend-mode: difference;
}
