html, body {
  margin: 0;
  padding: 0;
  font-family: 'Cabin Condensed', sans-serif; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.page-section {
  position: relative;
  padding: 1px 0px;
  /*height: 100vh;*/
  min-height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden; }
  .page-section > h1 {
    margin-top: 100px;
    margin-bottom: 60px;
    font-size: 43pt; }
  .page-section > p {
    font-size: 20pt;
    font-weight: bold; }

@media only screen and (max-width: 600px) {
  .page-section > h1 {
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 32pt; }
  .page-section > p {
    font-size: 13pt; } }

/* Common styles */
.red {
  color: #C51838 !important; }

.black {
  color: black !important; }

.invisible {
  visibility: hidden; }

.ellipsis {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden; }

/*----------------------------- Homepage Styles -----------------------*/
#homePage::before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-image: url("../assets/homepageRaw2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-attachment: fixed;*/ }

#homePage > .title {
  text-align: center;
  margin-top: 50vh;
  font-size: 2em;
  font-weight: bold; }

#snow {
  position: fixed; }

/*----------------------------- WebDesign -----------------------------*/
#webDesign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 2;
  font-family: 'Lato', sans-serif;
  color: white;
  text-align: center;
  background-size: auto;
  background-image: url("../assets/dark_exa.png");
  /* carousel */ }
  #webDesign > h1 {
    font-weight: 100; }
  #webDesign .carousel {
    margin-top: 100px;
    margin-bottom: 130px; }
  #webDesign .carousel-cell {
    width: 200px;
    height: 200px;
    margin-right: 100px;
    border: 5px solid white;
    background: #000;
    background-size: cover;
    background-position: center;
    border-radius: 1px;
    counter-increment: carousel-cell;
    transition: width 0.5s ease-in; }
    #webDesign .carousel-cell::after {
      content: "";
      background: #000;
      opacity: 0.7;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      transition: opacity 0.5s ease-in-out; }
    #webDesign .carousel-cell:hover::after, #webDesign .carousel-cell:focus::after, #webDesign .carousel-cell.is-selected::after {
      opacity: 0; }

@media only screen and (max-width: 600px) {
  #webDesign .carousel {
    margin-top: 50px; }
  #webDesign .carousel-cell {
    margin-right: 50px; } }

/*----------------------------- Blog Styles -----------------------------*/
#blog {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  background-image: url("../assets/blog1.jpg");
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #blog > h1 {
    font-family: "Libre Baskerville",Georgia,serif;
    background-color: rgba(0, 0, 0, 0.67);
    padding: 8px;
    margin-top: 50px; }
  #blog > p > span {
    background-color: rgba(169, 103, 5, 0.84);
    padding: 5px 45px;
    font-family: 'Lato', sans-serif; }
  #blog .article-container {
    margin-bottom: 50px; }
    #blog .article-container > .article-group {
      display: inline-block; }
    #blog .article-container .article {
      display: inline-block;
      width: 300px;
      height: 270px;
      background: rgba(255, 255, 255, 0.83);
      margin: 20px;
      color: black;
      text-align: left;
      box-shadow: 0px 1px 28px -5px black; }
      #blog .article-container .article > .article-image {
        height: 200px;
        /*background-color: #282f35;*/
        background-image: url("../assets/dark_fish_skin.png"); }
      #blog .article-container .article > .article-text {
        padding: 12px; }
        #blog .article-container .article > .article-text .article-title {
          display: inline-block;
          width: 57%; }
        #blog .article-container .article > .article-text .article-date {
          top: -3px;
          text-align: right;
          color: #a96705;
          display: inline-block;
          width: 41%;
          position: relative; }
        #blog .article-container .article > .article-text .article-summary {
          /*padding-top: 10px;*/
          color: #797777; }
      #blog .article-container .article:last-child {
        background-color: rgba(255, 255, 255, 0.9); }
        #blog .article-container .article:last-child > .article-image {
          visibility: hidden; }

/* media rules */
@media only screen and (max-width: 1370px) {
  #blog .article-container {
    padding-top: 70px; }
    #blog .article-container .article {
      width: 200px;
      height: 185px;
      font-size: 11px; }
      #blog .article-container .article > .article-image {
        height: 130px; } }

@media only screen and (max-width: 770px) {
  #blog .article-container > .article-group {
    display: block; } }

@media only screen and (max-width: 480px) {
  #blog .article-container {
    padding-top: 20px; }
    #blog .article-container .article {
      height: auto;
      width: 100%;
      font-size: 20px;
      margin: 0px;
      box-shadow: none;
      border-bottom: 1px solid #cecece; }
      #blog .article-container .article > .article-image {
        display: none; } }

/*----------------------------- Graphics styles -----------------------*/
#graphics {
  text-align: center;
  background-color: white;
  font-family: 'Lato', sans-serif;
  color: #8a8a8a; }
  #graphics > .img-container {
    position: absolute;
    bottom: 0;
    height: 33.33vw;
    width: 100%;
    overflow-y: hidden; }
    #graphics > .img-container > .image {
      display: inline-block;
      width: 16.66%;
      height: 16.66vw;
      background-color: #ffeb3b;
      float: left;
      overflow: hidden; }
      #graphics > .img-container > .image > div {
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover; }
      #graphics > .img-container > .image:hover > div, #graphics > .img-container > .image:focus > div {
        transform: scale(1.1); }
      #graphics > .img-container > .image .live-tile {
        transition: transform 0.2s ease-in-out; }
        #graphics > .img-container > .image .live-tile.start {
          animation: tile 0.5s linear; }
  #graphics > p {
    margin-bottom: 40vw; }
  #graphics #imageViewer {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.66); }
    #graphics #imageViewer #image-close {
      position: fixed;
      bottom: 0px;
      padding: 20px 80px;
      width: 100%;
      text-transform: uppercase;
      font-weight: 900;
      background-color: #222;
      color: white;
      transform: translateY(100%); }
    #graphics #imageViewer #image {
      position: relative;
      top: 50%;
      left: 50%;
      transform: scale(0) translate(-50%, -50%);
      border: 2px solid #222;
      background-color: #222; }
      #graphics #imageViewer #image img {
        width: 100%;
        height: 100%;
        opacity: 0; }
      #graphics #imageViewer #image.animate {
        animation: reveal 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards; }
        #graphics #imageViewer #image.animate img {
          opacity: 1;
          transition: opacity 0.2s ease-in 2s; }
        #graphics #imageViewer #image.animate + #image-close {
          cursor: pointer;
          transform: translateY(0);
          transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 2.5s; }

@media only screen and (max-width: 1370px) {
  #graphics > p {
    margin-bottom: 45vw; }
  #graphics > .img-container {
    height: 40vw; }
  #graphics > .img-container > .image {
    width: 20%;
    height: 20vw; } }

@media only screen and (max-width: 969px) {
  #graphics > p {
    margin-bottom: 55vw; }
  #graphics > .img-container {
    height: 50vw; }
  #graphics > .img-container > .image {
    width: 25%;
    height: 25vw; } }

@media only screen and (max-width: 770px) {
  #graphics > p {
    margin-bottom: 70vw; }
  #graphics > .img-container {
    height: 66.66vw; }
  #graphics > .img-container > .image {
    width: 33.33%;
    height: 33.33vw; } }

@media only screen and (max-width: 480px) {
  #graphics > .img-container {
    height: 100vw; } }

@keyframes tile {
  0% {
    transform: rotateY(0deg); }
  49% {
    transform: rotateY(90deg); }
  50% {
    transform: rotateY(270deg); }
  100% {
    transform: rotateY(360deg); } }

@keyframes reveal {
  0% {
    transform: scaleX(0) scaleY(0.01) translate(-50%, -50%);
    transform-origin: top;
    background-color: #222; }
  40% {
    transform: scaleX(1) scaleY(0.01) translate(-50%, -50%);
    transform-origin: top;
    background-color: #222; }
  50% {
    transform: scaleX(1) scaleY(0.01) translate(-50%, -50%);
    transform-origin: top;
    background-color: #222; }
  100% {
    transform: scaleX(1) scaleY(1) translate(-50%, -50%);
    transform-origin: top;
    background-color: #222; } }

/*----------------------------- My Section -----------------------------*/
#my-section {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #141415;
  background: -moz-radial-gradient(center, ellipse cover, #525252 0%, #131313 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #525252), color-stop(100%, #131313));
  background: -webkit-radial-gradient(center, ellipse cover, #525252 0%, #131313 100%);
  background: -o-radial-gradient(center, ellipse cover, #525252 0%, #131313 100%);
  background: -ms-radial-gradient(center, ellipse cover, #525252 0%, #131313 100%);
  background: radial-gradient(ellipse at center, #525252 0%, #131313 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525252', endColorstr='#131313', GradientType=1 ); }
  #my-section > #my-dp {
    margin-left: auto;
    margin-right: auto;
    background: url(../assets/mydp.jpg) center center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 7px solid white;
    box-shadow: 2px 2px 7px 1px #000000; }
  #my-section > #my-title, #my-section > #my-text {
    opacity: 0;
    transform: translateY(30px);
    text-align: center;
    color: white; }
    #my-section > #my-title.animate, #my-section > #my-text.animate {
      opacity: 1;
      transform: translateY(0px);
      transition: all 0.5s cubic-bezier(0.08, 0.82, 0.38, 1.53) 0.5s; }
  #my-section > #my-title {
    margin-top: 40px;
    margin-bottom: 10px; }
  #my-section > #my-text.animate {
    transition-delay: 0.9s; }

/*----------------------------- UI styles -----------------------------*/
/* Arrow Styles */
#arrow::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-right: 0.2em solid black;
  border-bottom: 0.2em solid black;
  transform: translate(17px, 14px) rotate(45deg); }

#arrowDown {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 10;
  bottom: 20px;
  left: 50%;
  margin-left: -25px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: -1px 3px 11px -3px;
  opacity: 0.8; }
  #arrowDown.animate {
    -webkit-animation: bounce 2s ease-in-out infinite;
    -moz-animation: bounce 2s ease-in-out infinite;
    -ms-animation: bounce 2s ease-in-out infinite;
    animation: bounce 2s ease-in-out infinite; }

#mailMe {
  transform: scale(0);
  position: fixed;
  z-index: 10;
  bottom: 40px;
  left: 50%;
  margin-left: -25px;
  width: 50px; }

@-moz-keyframes bounce {
  0%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px); } }

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); } }

@keyframes bounce {
  0%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px); } }

.loader {
  position: fixed;
  opacity: 0;
  top: 50%;
  left: 50%;
  margin-left: -12px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgba(255, 255, 255, 0.2);
  border-top-color: white;
  animation: spin 1s infinite linear; }
  .loader.show {
    opacity: 1;
    transition: opacity 1s ease-in-out; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
